theme = "mytheme"

[editor]
line-number = "relative"
end-of-line-diagnostics = "hint"
color-modes = true
cursorline = true
true-color = true
bufferline = "multiple"
completion-timeout = 15

[editor.cursor-shape]
insert = "bar"
select = "underline"

[editor.file-picker]
hidden = false

[editor.inline-diagnostics]
cursor-line = "warning"
other-lines = "error"

[editor.statusline]
mode.normal = "Normal"
mode.insert = "Insert"
mode.select = "Select"
left = ["mode", "spinner", "version-control", "spacer"]
center = [
  "file-base-name",
  "read-only-indicator",
  "file-modification-indicator",
]
right = [
  "diagnostics",
  "primary-selection-length",
  "selections",
  "register",
  "position",
  "total-line-numbers",
  "file-encoding",
  "file-type",
]

[keys.normal]
Cmd-s = ":w!"
C-r = ":config-open"
C-S-r = ":config-reload"
C-l = ":o ~/.config/helix/languages.toml"
C-A-l = ":o ~/.config/helix/lsp-ai.json"
A-l = ":o ~/Library/Caches/lsp-ai/lsp-ai.log"
"S-ret" = ["open_above", "normal_mode"]
"ret" = ["open_below", "normal_mode"]
S-x = "extend_line_above"
S-up = [ # scroll selections up one line
  "ensure_selections_forward",
  "extend_to_line_bounds",
  "extend_char_right",
  "extend_char_left",
  "delete_selection",
  "move_line_up",
  "add_newline_above",
  "move_line_up",
  "replace_with_yanked",
]
S-down = [ # scroll selections down one line
  "ensure_selections_forward",
  "extend_to_line_bounds",
  "extend_char_right",
  "extend_char_left",
  "delete_selection",
  "add_newline_below",
  "move_line_down",
  "replace_with_yanked",
]
C-g = [
  ":write-all",
  ":sh zellij run -c -f --width 80%% --height 80%% -x 10%% -y 10%% --name lazygit -- lazygit",
]
C-n = ":buffer-next"
C-p = ":buffer-previous"
C-q = ":bc"
C-y = ":sh zellij run -n Yazi -c -f -x 10%% -y 10%% --width 80%% --height 80%% -- bash ~/.config/helix/yazi-picker.sh open %{buffer_name}"

[keys.insert]
Cmd-s = ["normal_mode", ":w!"]
"A-ret" = ["normal_mode", "open_below"]
C-space = "completion"

[keys.normal.space.space]
b = ":sh git blame -L %{cursor_line},%{cursor_line} %{buffer_name}"
s = ":sh zellij run -c -f --width 80%% --height 80%% -x 10%% -y 10%% --name scooter -- scooter"

[keys.normal.space]
e = ":sh zellij run -n Yazi -c -f -x 10%% -y 10%% --width 80%% --height 80%% -- bash ~/.config/helix/yazi-picker.sh open %{buffer_name}"
f = "file_explorer_in_current_directory"
F = "file_explorer_in_current_buffer_directory"

[keys.normal.space.q]
q = ":quit-all"
