if status is-interactive
    # Commands to run in interactive sessions can go here
end

function multicd
    echo cd (string repeat -n (math (string length -- $argv[1]) - 1) ../)
end
abbr --add dotdot --regex '^\.\.+$' --function multicd

abbr --add ls lsd
abbr --add ll lsd -lA

set --export --prepend PATH $HOME/.cargo/bin
set --export --prepend PATH $HOME/.local/bin
set --export --prepend PATH $HOME/.ghcup/bin
{{ if eq .chezmoi.os "darwin" }}
set --export --prepend PATH $HOME/go/bin
set --export HOMEBREW_NO_ENV_HINTS 1
set --export EDITOR /opt/homebrew/bin/nvim
{{ else if eq .chezmoi.os "linux" }}
set --export --prepend PATH /usr/local/go/bin
set --export EDITOR /usr/bin/nvim

alias bat="batcat"
{{ else }}
set --export EDITOR "code --wait"
{{ end }}

alias vim="nvim"

fzf --fish | source
zoxide init fish | source
